{
  "presets": [["@babel/env", { "targets": { "node": "current" } }]],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "production": {
      "presets": [
        ["@babel/env", { "targets": { "node": "current" }, "forceAllTransforms": true, "useBuiltIns": "usage" }]
      ]
    }
  }
}
