{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unicorn", "import"],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "plugin:unicorn/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "jest": true,
    "es6": true,
    "commonjs": true,
    "node": true
  },
  "settings": {
    "react": { "version": "detect" },
    "import/parsers": { "@typescript-eslint/parser": [".ts", ".tsx"] },
    "import/resolver": { "typescript": { "alwaysTryTypes": true } }
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "warn",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "@typescript-eslint/no-var-requires": "off",
    "import/extensions": ["error", { "ts": "never", "json": "always" }],
    "import/no-unresolved": "error",
    "no-console": ["warn"],
    "no-duplicate-imports": "error",
    "no-prototype-builtins": "off",
    "no-unused-expressions": "error",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true, "argsIgnorePattern": "^_+" }],
    "semi": ["warn", "always"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
    "unicorn/filename-case": ["warn", { "case": "camelCase" }],
    "unicorn/no-reduce": "off",
    "unicorn/prevent-abbreviations": "off"
  }
}
